<?xml version="1.0" encoding="UTF-8"?>
<AODI_Config><Main_Set><Super_User>admin</Super_User><Super_User_Password>12345678</Super_User_Password><User>aodi</User><User_Password>aodi</User_Password><NetCard_Name>Realtek PCIe GBE Family Controller</NetCard_Name><IP_Add1>192</IP_Add1><IP_Add2>168</IP_Add2><IP_Add3>0</IP_Add3><IP_Add4>103</IP_Add4></Main_Set></AODI_Config>
